
@media only screen and (max-width: 676px) and (min-width: 320px)  {
.mobile_no {
display: block;
padding: 14px;
margin: 0;
color: #FFF;
font-weight: 600;
font-size: 17px;
position: absolute;
right: 10px;
top: -7px;

} 

.menu-text {
    display: block;
    padding: 14px;
    margin: 0;
    color: #FFF;
    font-weight: 600;
    font-size: 17px;
    position: absolute;
    left: 33px;
    top: -10px;
    text-transform: capitalize;

} 

.logo-sec{
width: 185px;
float: right;
margin-top: 28px;
}
.logo-first img {
height: 75px;
width: 65px;
}
.logo-sec img{
width: 100%;
height: 40px;
}
.btn-sec{
margin: 0;
position: absolute;
top: 8px;
width: 100%;
padding: 0;
right: 25px;
}
.bottom-header {
    bottom: -35px;

}
.carousel-caption.caption_newslider {
width: 150px;
padding: 5px 7px;
bottom: 14px;
}
.main-heading{
font-size: 13px;
margin-bottom:0;
padding: 0;
}	
.no-text {
padding: 9px 0;
font-size: 12px;
}
.carousel-indicators {
    right: 0;
    left: 105px;
    bottom: 7px;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #FFF;
}
.order-btn {
padding: 4px 5px;   
font-size: 9px;
}
.button-auth {
padding: 3px 5px 5px 10px !important;
margin-right: 0;
font-size: 10px;
}
.ph-no{
display: none;
}
.authority-txt {
font-size: 12px;
padding: 0;
}
.faq-head-section{
padding: 0;
}
.faq-img-section {
height: 315px;
}
.faq-txt-section h2 {
font-size: 11px;
font-weight: bold;
display: inline-block;
}
.faq-txt-section p {

font-size: 12px;
}

.faq-txt-section {
background-color: #d5e2e8;
height: auto;  
min-height: 315px;
}
.image-icon {  
right: 7px;  
bottom: 22px;
}
.acquisitions-text-section{
width: 100%;
}
.acquisitions-section{
padding: 10px;
}

.truking-img-section{
display: none;
}

.testi-slider .owl-prev {
left: -15px !important;
}
.testi-slider .owl-next {
right: -15px !important;
}
.temp-img-section {
float: left;
padding: 0;
}
.temporary-text-section{
width: 100%;
}
.temporary-text-section-txt {
    font-size: 15px;
    font-weight: 600;
}
.temporary-text-section-p {
font-size: 11px;
padding-top: 10px;
}
.temporary-no-section {
width: 100%;
float:unset;
text-align: center;
}
.video-add-zone h2{
text-transform: uppercase;
}
.video-section {
width: 249px;
}
.footer-logo img{
    position: absolute;
    height: 51px;
    top: -47px;
    right: 15px;

}
.footer-logo-txt p {
font-size: 10px;
text-align: center;
padding-right: 15px;
}
.ucr-box-section .ucr-box {
    width: 27%;
    margin-left: 20px;
    margin-bottom: 5px;
}
.perro-service{
padding: 15px;
margin-top: 63px;
}
.perro-service-heading{
    font-size: 20px;
    top: -24px;
    left: 7%;
    padding: 4px;
}
.service-text-section{
width: 100%;
padding: 15px;
}
.perro-service p{
font-size: 6px;
}
.bottom-header p {

padding: 6px 0px;
font-size: 12px;
text-align: center;
}
.hero-text{
text-align: center;
padding: 100px 0;
}
.truking-section {
padding: 20px 0px;
}
.truking-text-section{
width: 100%;
}
.truking-heading{
  text-align: center;
  padding: 10px;
}
.truking-p-txt{
  text-align: center;
  color: #666;
}
.btn-section{
   text-align: center;
}
.keller-text-section{
width: 100%;
}
.keller-section{
padding: 20px 8px;
}
.keller-img-section {

overflow: hidden;
margin-top: 15px;
}
.contain-section{
padding-right: 0 !important;
padding-left: 0 !important;
}
.testimonial .description {
font-size: 12px !important;
line-height: 21px!important;
padding-left: 22px;
margin: 0;
}
.testimonial .testimonial-title {
font-size: 10px !important;
}
.pic{
display: none;
}
.footer-head ul li {
font-size: 11px;
    margin-right: 20px;
}


.footer-head {
    padding: 0px 0px 6px 10px;
}
.footer-body{
padding: 0 10px;
}
#flex { display: flex; flex-direction: column; }
#a { order: 2; }
#b { order: 1; padding: 0; }
.m-padding{
    padding:0;
}
.pd-20{
    padding: 20px;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
.navbar-expand-md .navbar-nav .nav-link{
padding-right:0;
}
.logo-section{
width: 60%;

}
.header-text{
width: 40%;
}
.acquisitions-text-section{
width: 100%;
}
.truking-img-section{
overflow: hidden;
}
.testi-slider .owl-next {
right: -15px !important;
top: 41%  !important;
}
.testi-slider .owl-prev {
left: -15px !important;
top: 41% !important;
}
.temp-img-section{
padding:0;
}
.temporary-text-section{
width: 100%;
}
.temporary-no-section{
float: unset;
}
.hero-text {
min-width: unset; 
max-width: unset; 
}
.ucr-box-section .ucr-box {  
width: 45%; 
margin-bottom: 15px;
}
.keller-text-section{
width: 100%;
}
.keller-img-section{
overflow: hidden;
}
.testimonial .testimonial-content {
padding: 10px 0px 10px 20px;
}

.testi-slider .owl-next {
right: -44px !important;
}

.testi-slider .owl-prev {
left: -30px !important;
}

}









































