
@media only screen and (max-width: 676px) and (min-width: 320px)  {
.mobile_no {
display: block;
padding: 14px;
margin: 0;
color: #FFF;
font-weight: 600;
font-size: 17px;
position: absolute;
right: 10px;
top: -7px;

} 

.menu-text {
    display: block;
    padding: 14px;
    margin: 0;
    color: #FFF;
    font-weight: 600;
    font-size: 17px;
    position: absolute;
    left: 33px;
    top: -10px;
    text-transform: capitalize;

} 
.logo-section {
    float: left;
    width: 100%;
}
.logo-first {
      float: left;
    width: 20%;
}
.logo-sec{
   float: right;
    margin-top: 23px;
    width: 80%;
}
.headewr-btn{
     position: absolute;
    right: 14px;
    top: 10px;
    display: block;
}
.logo-first img {
height: 75px;
width: 65px;
}
.logo-sec img{
    width: 100%;
    height: 46px;
}
.btn-sec {
    margin: 0;
    position: absolute;
    top: -69px;
    width: 100%;
    padding: 0;
    right: -3px;
}
.bottom-header {
   bottom: -20px;
    padding: 0;
    height: 20px;

}
.carousel-caption.caption_newslider {
    width: 126px;
    padding: 5px 7px;
    bottom: 0px;
    right: 7px;
}
.main-heading{
    font-size: 13px;
    margin-bottom: 0;
    padding: 0;
    min-height: 62px;
    max-height: 62px;
    overflow: hidden;
    height: 100%;
}	
.no-text {
padding: 9px 0;
font-size: 12px;
}
.carousel-indicators {
 display: none;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #FFF;
}
.order-btn {
padding: 4px 5px;   
font-size: 9px;
}
.button-auth {
 padding: 7px 5px 6px 5px !important;
margin-right: 0;
font-size: 10px;
}
.ph-no{
display: none;
}
.authority-txt {
font-size: 12px;
padding: 0;
}
.faq-head-section{
padding: 0;
}
.faq-img-section {
height: 315px;
}
.faq-txt-section h2 {
font-size: 11px;
font-weight: bold;
display: inline-block;
}
.faq-txt-section p {

font-size: 12px;
}

.faq-txt-section {
background-color: #d5e2e8;
height: auto;  
min-height: 315px;
}
.image-icon {  
right: 7px;  
bottom: 22px;
}
.acquisitions-text-section{
width: 100%;
}
.acquisitions-section{
padding: 10px;
}

.truking-img-section{
display: none;
}

.ucr-body {
    padding: 3px 5px 5px 6px;
    overflow: hidden;
}
.temp-img-section {
float: left;
padding: 0;
}
.temporary-text-section{
width: 100%;
}
.temporary-text-section-txt {
    font-size: 15px;
    font-weight: 600;
}
.temporary-text-section-p {
font-size: 11px;
padding-top: 10px;
}
.temporary-no-section {
width: 100%;
float:unset;
text-align: center;
position: relative;
}
.temporary-no-section-txt{
      position: absolute;
    top: 24px;
    left: 32px;
    font-size: 17px;
}
#btn-order{
    position: relative;
    right: -73px;
    top: 10px;
   padding: 8px 30px 5px 30px;

}
.padding-btm{
        padding-bottom: 38px !important;
}
.video-add-zone h2{
text-transform: uppercase;
}
.video-section {
width: 249px;
}
.footer-logo img{
  position: absolute;
    height: 54px;
    top: -47px;
    right: 0px;

}
.footer-logo-txt p {
font-size: 10px;
text-align: center;
padding-right: 15px;
}
.footer-text{
    padding: 0 0px 10px 0px;
    text-align: center;
    font-size: 10px;
}
.ucr-box-section .ucr-box {
    width: 27%;
    margin-left: 20px;
       margin-bottom: 20px;
}
.perro-service{
    padding: 1px 0px 0px 1px;
    margin-top: 63px;
}
.perro-service-heading{
      width: 250px !important;
    min-width: 250px;
    font-size: 14px;
}
.service-text-section{
width: 100%;
padding: 15px;
}
.ucr-box .head-h4 { 
    font-size: 14px;
}
.perro-service p{
font-size: 6px;
}
.bottom-header p {

padding: 6px 0px;
font-size: 12px;
text-align: center;
}
.hero-text{
text-align: center;
padding: 100px 0;
}
.truking-section {
    padding: 0px 0px 10px 0px;
}
.truking-text-section{
width: 100%;
}
.truking-heading{
  text-align: center;
     padding: 18px 0px 8px 0px;
}
.truking-p-txt{
  text-align: center;
  color: #666;
}
.btn-section{
   text-align: center;
}
.keller-text-section{
width: 100%;
}
.keller-section{
padding: 20px 8px;
}
.keller-img-section {

overflow: hidden;
margin-top: 15px;
}
.contain-section{
padding-right: 0 !important;
padding-left: 0 !important;
}
.testimonial .description {
font-size: 12px !important;
line-height: 21px!important;
padding-left: 22px;
margin: 0;
}
.testimonial .testimonial-title {
font-size: 10px !important;
}
.pic{
display: none;
}
.footer-head ul li {
font-size: 11px;
margin-right: 20px;
}


.footer-head {
    padding: 0px 0px 6px 10px;
}
.footer-body{
padding: 0 10px;
}
#flex { display: flex; flex-direction: column; }
#a { order: 2; }
#b { order: 1; padding: 0; }
.m-padding{
    padding:0;
}
.pd-20{
    padding: 20px;
  
}
.pt-20{  padding-top: 20px;}

.mobile-view {
    width: 60%;
    margin: 0 auto;
}
.mobile-none{
    display: none;
}
.sevice-txt{
    text-align: center;
    font-size: 16px;
}
.mobile-border-both {
    border-top: solid 4px #005b7f;
    border-bottom: solid 4px #005b7f;
}
.temp-img-section img{
    height: 95px;
    top: -10px;
}
#video-fream {
        height: 126px;
}
.footer-text-section-txt{
        padding: 0 24px 0px 0px;
}
.bg-blue {
    background-color: #005b7f!important;
}
.mobile-img img{
    height: 165px;
}
.slidermar{
    padding: 0;
}
.perro-service-heading {
   top: -19px;
}
.navbar-dark.custome_nav .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
       background-color: #666666!important;
    color: #fff;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px)  {
.navbar-expand-md .navbar-nav .nav-link{
padding-right:0;
}
.logo-section{
width: 60%;
 overflow: hidden;

}
.logo-first {
    float: left;
       width: 20%;
}
.logo-sec{
    float: right;
    margin:0;
       width: 80%;
}
.header-text{
width: 40%;
}
.button-auth {
     padding: 5px 10px 10px 10px;
 }
 .main-heading{
margin: 0 0 5px;
    padding: 0;
    max-height: 100px;
    min-height: 100px;
    height: 100%;
    font-size: 25px;
 }
 .truking-section{
        padding: 20px 30px 20px 30px;
 }
 .temporary-section{
    padding: 20px 15px 20px 15px;
 }
 .footer-head{
    padding: 4px 1px 7px 30px;
 }
 .footer-body{
        padding: 4px 4px 7px 30px;
 }
 
 .headewr-btn{
    display: none !important;
 }
 .ucr-box-section .ucr-box{
    margin-top: 15px;
 }
 .carousel-indicators {
   display: none;
}
#video-fream {
    height: 160px;
    margin-top: 54px;
}
.logo-sec img {
    height: 73px;
}
.temp-img-section img {
    position: absolute;
    left: -15px;
    height: 100px;
    top: -11px;
}
.temporary-text-section {
    width: 100%;
    
}
.temporary-text-section {
    width: 100%;
    margin-left: 50px;
}

.no-text {
       padding: 10px 0;
    font-size: 25px;
}
.carousel-caption.caption_newslider {  
    right: 4%;   
    width: 246px;
    padding: 17px 20px;
}
.footer-text {
    padding: 8px;
     }
}









































