body {
	margin: 0;
	padding: 0;
}

p { margin:0;}
a { text-decoration:none}
li { list-style:none}
/*Header section Start*/
.header-section {
	overflow: hidden;
	background-color: #f4f4f4;
}
.logo-section {
	float: left;
	width: 70%;
}
.logo-first {
	float: left;
}
.logo-first img {
	height: 80px;
}
.logo-sec img{
	height: 80px;
}
.header-text {
	float: right;
	width: 30%;
	position: relative;
	padding: 20px 0 0;
	    padding: 20px 0 0;
    text-align: center;
}
.ph-no {
	width: 40%;
    float: left;
}
.ph-no p {
	padding: 14px;
	margin: 0;
	color: #005b7f;
	font-weight: 600;
	font-size: 17px;
	    text-align: right;
}
.btn-sec {
	width: 60%;
	float: right;
	margin: 0;
	padding: 12px;
}
.button-auth {
	    color: #FFF;
    border: solid 1px #005b7f;
    padding: 6px 19px 8px;
    background: #005b7f;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    margin-right: 50px;
}
/* first header end*/


.topnav {
	padding: 0px 0px 0px 20px;
}

.authority-txt {
     color: #011e41;
    font-size: 23px;
    margin: 0;
    padding: 6px 0;
    font-family: 'FranklinGothicLTCom-Bk';
}
.auth-text {
	       padding: 3px 0px 3px 111px;
}
/*banner image start*/

.main-heading {
	    color: #fff;
    padding-bottom: 70px;
    font-size: 40px;
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 13px;
        text-align: left;
        text-transform: capitalize;
        font-family: 'ArialNarrow';
}
.order-btn {
	border: solid 1px #FFF;
	background: transparent;
	color: #fff;
	    padding: 6px 45px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	font-family: 'ArialNarrow-Bold';
}
.order-btn:hover{
	color: #FFF;
	text-decoration: none;
}
.hero-text p {
	padding: 25px 0;
	font-size: 23px;
	color: #FFF;
}
.bottom-header {
	position: absolute;
	background: #790000;
	width: 100%;
	bottom: 0px;
	z-index: 99;
}
.slidermar {
	color: #ecf0f5;
	margin: 0;
	    padding: 6px 0px 1px 0px;
	font-size: 14px;
	 font-family: 'ArialNarrow-BoldItalic';
}
.carousel-caption.caption_newslider {   
    position: absolute;
    right: 6%;
    bottom: 20px;
    left: inherit;
    z-index: 10;
    padding: 48px 40px;
    color: #fff;
    text-align: left;
    background: #0000005c;
    top: 0;
    width: 407px;
}
 .carousel-indicators{
    right: 170px;
    left: unset;
    bottom: 55px;
  
 }  
 .no-text{
    padding: 25px 0;
    font-size: 37px;
    color: #FFF;
    text-align: left;
    font-family: 'ArialNarrow';
} 
 .carousel-indicators .active {
 	background: #005b7f !important;
}
.carousel-indicators li {
       width: 10px;
    height: 10px;
    background-color: #FFF;
}
.headewr-btn{
	display: none;
}
/*Header section end*/

/*service section Start*/

.perro-service {
	border-top: solid 2px #005b7f;
	margin-top: 44px;
	position: relative;
	padding: 25px 0px;
}
.perro-service-heading {
    text-align: center;
    border: solid 2px #005b7f;
    position: absolute;
    top: -26px;
    background: #FFF;
    padding: 5px;
    font-size: 23px;
    color: #003b4c;
    text-transform: capitalize;
    font-family: 'ITCFranklinGothicStd-Med';
    font-weight: 600;
    min-width: 609px;
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
}
.sevice-txt {
	font-family: 'FranklinGothicLTCom-Bk';
    font-size: 19px;
    color: #666666;
    padding: 10px 0;
}

/*service section end*/

/*ucr-box section Start*/
.ucr-box-section {
	    width: 97%;
    display: inline-block;
    margin-top: 14px;
    margin: 0 auto;
}
.ucr-box-section .ucr-box {
    border: solid 1px #005b7f;
    width: 15%;
    margin-left: 18px;
    margin-bottom: 30px;;
}
.ucr-box .head {
	border-bottom: solid 1px #005b7f;
	padding: 0;
	margin: 0;
}
.ucr-box .head-h4 {
	color: #cccccc;
    padding: 5px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    max-height: 58px;
    word-break: break-word;
    font-size: 23px;
    font-family: 'FranklinGothicLTCom-Bk';
    line-height: 25px;
    min-height: 58px;
}
.ucr-body {
	padding: 15px;
}
.ucr-body-p {
	color: #58524c;
	font-size: 12px;
	text-align: left;
	margin:0;
}
/*ucr-box section end*/

/*truking section start*/
.truking-section {
	border-top: solid 6px #005b7f;
	border-bottom: solid 6px #005b7f;
	background-color: #f4f4f4;
	width: 100%;
	margin: 0 auto;
	 padding: 20px 100px 20px 100px;
	overflow: hidden;
}
.truking-heading{
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 20px;
	padding-bottom: 15px;
}
.btn-section{
	margin: 8px 0px 10px 0px;
}
.truking-p-txt {
	font-size: 16px;
	color: #333333;
	font-family: 'ITCFranklinGothicStd-Book';
}
.truking-text-section .lern-more {
color: #FFF;
    border: solid 1px #b2b2b2;
    padding: 5px 15px;
    text-transform: capitalize;
    background-color: #005b7f;
    font-family: 'FranklinGothicLT-Medium';
    font-size: 13px;
    letter-spacing: 1px;
    margin: 14px 0;
    display: inline-block;
    margin:0;
}

.truking-section img { width:100%;}
.truking-section.custom_bg {    background-color: #fff;
    border-top: 0;
    border-bottom: 0;}
	.truking-section.adnew_bg{ background-color:#e4e4e4; border-bottom:none; padding-bottom: 15px;}
/*truking section end*/


/*acquisitions section start*/

.acquisitions-section {
	background-color: #FFF;
	width: 100%;
	margin: 0 auto;
	    padding: 25px 25px 29px 85px;
	overflow: hidden;
}
.faq-btn-section{
	padding-top: 10px;
	    width: 80%;
}
.btn-downloade {
    color: #005b7f;
    background-color: #aadaf1;
    padding: 7px 35px;
    text-transform: capitalize;
    font-family: 'ITCFranklinGothicStd-DmCd';
    cursor: pointer;
    border: none;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0 0;
}

.acquisitions-section-heading {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 18px;
}
.acquisitions-p-txt {
    color: #333333;
    font-size: 14px;
    margin-bottom: 25px;
}
.acquisitions-text-section {
	width: 60%;
	float: left;
}
.acquisitions-text-section h3 {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 18px;
}
.acquisitions-text-section p {
	font-size: 13px;
	color: #333333;
	font-family: 'ITCFranklinGothicStd-Book';
}
.acquisitions-text-section .lern-more {
	color: #FFF;
	font-size: 9px;
	border: solid 1px #b2b2b2;
	background-color: #005b7f;
	padding: 5px 10px;
	text-transform: capitalize;
	background-color: #005b7f;
	font-family: 'FranklinGothicLT-Medium';
	cursor: pointer;
}
.acquisitions-img-section {
	width: 100%;
	max-width: 355px;
	float: right;
}
.truking-img-section img{
width: 100%
}
.truking-img-section{
	    padding: 0 69px 13px 2px;
}
/*acquisitions section end*/


/*why keller section start*/


.keller-section {
	border-top: solid 6px #005b7f;
	border-bottom: solid 2px #e7e7e7;
	background-color: #f4f4f4;
	width: 100%;
	margin: 0 auto;
	padding: 20px 41px;
	overflow: hidden;
}
.keller-section h3 {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 18px;
}
.keller-text-section {
	width: 60%;
	float: left;
}
.keller-text-section p {
	font-size: 13px;
	color: #333333;
	font-family: 'ITCFranklinGothicStd-Book';
}
.keller-text-section .lern-more {
	color: #FFF;
	font-size: 9px;
	border: solid 1px #b2b2b2;
	background-color: #005b7f;
	padding: 5px 10px;
	text-transform: capitalize;
	background-color: #005b7f;
	font-family: 'FranklinGothicLT-Medium';
	cursor: pointer;
}
.keller-img-section {
	width: 100%;
	max-width: 355px;
	float: right;
}

.temporary-section {
	background-color: #eeeeee;
	margin: 0 auto;
	padding: 55px 20px 55px 80px;
	overflow: hidden;
	width: 100%;
}
.temp-img-section {
	position: relative;
}
.temp-img-section img{
	    position: absolute;
    left: -15px;
    height: 137px;
    top: -27px;
}
.temp-img img{
	left: -42px;
}
.temporary-text-section {
	width: 40%;
	float: left;
}
.temporary-text-section-txt {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 18px;
}
.temporary-text-section-p {
	font-size: 14px;
	font-family: 'FranklinGothicLTCom-Bk';
	color: #005b7f;
}
.temporary-no-section {
	float: left;
    text-align: center;
    padding: 0 67px;
}
.temporary-no-section-txt {
	font-family: 'FranklinGothicLTCom-Bk';
	font-size: 24px;
	color: #116383;
}
.order-now {
    color: #005b7f;
    background-color: #fdc140;
    padding: 7px 35px 8px 35px;
    text-transform: capitalize;
    font-family: 'ITCFranklinGothicStd-DmCd';
    cursor: pointer;
    border: none;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0 0;
}
.video-section {
	    height: 223px;
    width: 377px;

}
.video-img-section{
	overflow: hidden;
}
/*why keller section End*/



/*Topic page statr*/
.banner-topic {
	height: 465px;
	padding: 0;
	width: 100%;
	max-width: 100%;
	margin: 0;
}
.topic-banner {
	background-image: url("../images/topic-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
	width: 100%;
}
.hero-text-topic {
	height: 100%;
	padding: 51px;
	width: 100%;
	z-index: 0;
}
.hero-text-topic h2 {
	color: #fff;
	padding-bottom: 20px;
	font-size: 24px;
}
.hero-text-topic .order-btn {
	border: solid 1px #FFF;
	background: transparent;
	color: #fff;
	padding: 4px 10px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}
.hero-text-topic p {
	padding: 25px 0;
	font-size: 23px;
	color: #FFF;
}
.contant-section {
	padding: 25px 80px;
	background-image: linear-gradient(#ccdee5, #FFF);
}
.text-first-section h2 {
	font-size: 17px;
	font-family: 'ITCFranklinGothicStd-Book';
	color: #005b7f;
	font-weight: 500;
}
.text-first-section p {
	color: #333333;
	font-size: 13px;
}
.news-section {
	border: solid 1px #a9afb2;
}
.news-section .header-news {
	background-color: #c1d7e0;
}
.header-news h3 {
	padding: 10px;
	font-size: 17px;
	color: #326f87;
	font-family: 'ITCFranklinGothicStd-Book';
	margin: 0;
}
.body-news {
	padding: 10px 0;
	background-color: #FFF;
}
.body-news ul {
	margin: 0;
	padding: 0 28px;
}
.body-news ul li {
	font-family: 'ITCFranklinGothicStd-Book';
	font-size: 13px;
	color: #333333;
}
.resources-section {
	border: solid 1px #a9afb2;
	margin-top: 2px;
}
.resources-section .header-resources {
	background-color: #c1d7e0;
}
.header-resources h3 {
	padding: 10px;
	font-size: 17px;
	color: #326f87;
	font-family: 'ITCFranklinGothicStd-Book';
	margin: 0;
}
.body-resources {
	padding: 10px 0;
	background-color: #FFF;
	overflow: hidden;
}
.body-resources ul {
	margin: 0;
	padding: 0 28px;
}
.body-resources ul li {
	font-family: 'ITCFranklinGothicStd-Book';
	font-size: 13px;
	color: #333333;
}
.resources-section .learn-more {
	color: #FFF;
	font-size: 9px;
	border: solid 1px #005b7f;
	background-color: #005b7f;
	padding: 5px 10px;
	text-transform: capitalize;
	font-family: 'FranklinGothicLT-Medium';
}
.topic-sec {
	background-image: url(../images/topic-cr.png);
	width: 100%;
	height: 124px;
	background-repeat: no-repeat;
	background-position: center;
}
.acquisitions-text-section ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.acquisitions-text-section ul li {
	background-image: url(../images/list-icon.png);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #011e41;
	background-position-y: 8px;
	line-height: 22px;
	padding: 5px 24px;
}
.border-faq {
	border-top: solid 6px #005b7f;
}
.border-faq p {
	font-size: 12px;
	font-family: 'ITCFranklinGothicStd-Med';
	color: #011e41;
}
.border-faq .order-now {
	background-color: #aadaf1;
}
/*Testimonial Start */
.item {
	background: #FFF;
	text-align: center;
	height: 300px;
}
.item h2 {
	margin: 0;
	color: #888;
	padding-top: 80px;
	font-size: 30px;
}
/*Testimonial end */

/*add or video start*/
.video-add-zone {
	background: #f7f7f7;
	    padding: 25px 25px 29px 85px;
}
.video-add-zone h2 {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #185e79;
	text-align: left;
	font-size: 18px;
}
.video-add-zone p {
	font-size: 13px;
	color: #333333;
	font-family: 'ITCFranklinGothicStd-Book';
}
.border-both {
	border-top: solid 6px #005b7f;
	border-bottom: solid 4px #005b7f;
}
.border-blue-bottom {
	border-bottom: solid 6px #005b7f;
}
/*add or video end*/

/*Topic page end*/

/*Faq Page start*/
.faq-head-section {
	background-color: #fff;
	    padding: 0 75px 60px 75px;
}
.faq-img-section {
	height: 400px;
	width: 100%;
}
.faq-img-section img {
	height: 100%;
	width: 100%;
}
.faq-txt-section {
	background-color: #d5e2e8;
	padding: 30px;
	height: auto;
	height: 100%;
	max-height: 400px;
	position: relative;
}
.faq-txt-heading {
	    font-size: 24px;
    font-family: 'FranklinGothicLTCom-Bk';
    color: #005b7f;
    font-weight: 500;
    border-bottom: solid 3px #005b7f;
    padding: 6px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    line-height: 40px;
}
.faq-txt-section-p-txt {
	color: #272425;
	font-size: 17px;
	text-align: center;
	font-family: 'ITCFranklinGothicStd-Book';
	    padding: 20px;
}
.more-info {
	width: 100%;
}
.image-icon {
position: absolute;
    right: -16px;
    z-index: 9999;
    bottom: -17px;
    height: 110px;
    width: 110px;
  
}
.image-icon img{
	    height: 110px;
}
.testimonial-content-section {
	    background-color: #cad8dd;
    padding: 25px;
    overflow: hidden;
    height: 355px;
      width: 405px;
}
.testimonial-content-section h5 {
	color: #666666;
	font-size: 14px;
	font-family: 'FranklinGothicLTCom-Bk';
}
.testimonial-content-section .img-section {
	text-align: center;
     height: 213px;
    overflow: hidden;
        margin-left: 5px;
}
.testimonial-content-section .img-section img {height: 100%; max-width: 371px; width: 100%;}
 .testimonial-content-section .down-img-section img{  
  height: 100%;   
    min-height: 45px;
}
.custom-padding{
	padding: 30px 20px 33px 80px;
}
.testimonial-content-section .down-img-section {
	text-align: center;
    height: 32px;
    border-top: solid 2px #005b7f;
    margin: 0 auto;
       padding: 4px 24px 0;
    width: 80px;
    margin-top: 10px;
}
.slide-border-bottom {
	border-bottom: solid 4px #005b7f;
}
.qustion-bg {
	background-color: #f6f6f6;
}
/*Faq page end*/








/*footer*/
 .cust-footer{padding: 20px 20px 20px 83px !important;}
footer {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

.footer-head {
	background-color: #666666;
	width: 100%;
	padding: 4px 100px 7px 100px
}
.footer-head ul { padding:0; margin:0;
}
.footer-head ul li {
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    font-family: 'ITCFranklinGothicStd-Book';
    margin-right: 39px;
}
.footer-body {
	background-color: #d2d2d2;
  padding: 4px 100px 7px 100px
}
.footer-text-section {
	padding: 5px 0px;
}
.footer-text-section-txt {
	font-size: 14px;
	color: #000000;
	    margin-bottom: 15px;
}
.footer-text-section .vist {
color: #FFF;
    font-size: 14px;
    background-color: #8b1e42;
    padding: 6px 22px;
    text-transform: capitalize;
    font-family: 'ITCFranklinGothicStd-Book';
    cursor: pointer;
    border: 1px solid #b17e8f;
    display: inline-block;
    margin: 15px 0 0;
}
.footer-logo {
	padding: 15px 37px;
    width: 100%;
    text-align: right;
    position: relative;
}

.footer-logo-txt p {
	font-family: 'ITCFranklinGothicStd-Book';
	color: #000;
	font-size: 12px;
	text-align: right;
	padding-right: 56px;
}
.footer-text{
	    padding: 8px;
    color: #000000;
    font-size: 12px;
    text-align: right;
    padding-right: 37px;
}

.custom-padding-footer{
	    padding: 4px 0px 7px 81px;
}
.footer-logo img {
	height: 90px;
}









.nav-link {
	display: block;
	padding: 7px 31px;
	text-transform: uppercase;
	font-size: 12px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #f2f2f2;
}
.bg-dark {
	background-color: #666666!important;
}
.navbar {
	padding: 0;
}
.navbar-dark.custome_nav .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	background-color: #005b7f;
	color: #fff;
}
.mobile_no {
	color: #fff;
	font-size: 12px;
	display: none;
}
.menu-text{
	color: #fff;
	font-size: 12px;
	display: none;
}
.navbar-dark .navbar-toggler {
	color: #FFF;
	border-color: unset;
	border: none;
}
#nav-toggle-button{
    background-color:red;
}

.cust-pading{
	    padding: 20px 20px 20px 78px;
}
#video-fream{
    width: 100%;
}

/*simple page*/
.simple-header{
padding: 0 75px 60px 115px;
}
.simple-section{
	    padding: 20px 20px 20px 100px;
	    border-top: none;
    border-bottom: none;
    background-color: #e5eef2;
}

.heading-testimonial{
	    color: #005b7f;
    font-size: 20px;
    padding: 10px 12px;
    text-transform: capitalize;
}

.testimonial-img{
	    border: solid 1px #000;
    height: 90px;
}


/*slider*/

.card {
  margin: 0 auto;
   background-color:transparent !important;
  border: none !important;
}
.card .carousel-item {
  height: 130px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.card .carousel-control-prev, .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important;
}
.carousel-control-next {
    right: -109px !important;
}
.carousel-control-prev {
    left: -164px !important;
}
.carousel-control-prev-icon {
    background-image: url(../images/slider-left.png) !important;
}
.carousel-control-next-icon {
    background-image: url(../images/slider-right.png) !important;
}
.logo-place{
	    border: solid 1px #000;
    background-color: #fff;
    height: 102px;
    width: 90%;
    overflow: hidden;
}
.incremented-text{
	font-size: 14px;
	color: #333;
	text-align: left;
}
.small-text{
	font-size: 13px;
	color: #333;
	text-align: right;

}


#header nav ul li {
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.5s ease;
}
#header .navbar-nav {
width:100%;
}

.thumb{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

}

_::-webkit-full-page-media, _:future, :root .safari_only {

      color: #FFF !important;


}